body {
  background: #fdf9f9; }

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px; }

.delete-checkbox {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #fff;
  padding-right: 5px; }

.divider {
  display: flex;
  justify-content: space-between; }

.text-right {
  text-align: right; }

.btn-white {
  background-color: #fff;
  border-color: #e4e3e3; }
  .btn-white:hover {
    background-color: #f1f1f1; }

.show {
  display: block; }

.hidden {
  display: none; }
