body {
    background: rgb(253, 249, 249);
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.delete-checkbox {
    position: relative;
    height: 25px;
    width: 25px;
    background-color: #eee;
    padding-right: 5px;
}

.divider {
    display: flex;
    justify-content: space-between;
}

.text-right {
    text-align: right;
}

.btn-white {
    background-color: #fff;
    border-color: rgb(233, 232, 232);
}
.btn-white:hover {
    background-color: rgb(241, 241, 241);
}

.show {
    display: block;
}

.hidden {
    display: none;
}